
html, body {

  width:100%;
  height:100%;
  color:white;
  margin:0;
  padding:0;
  background:#333;
}

#app {

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width:100%;
  height:100%;
  margin:0;
}

#app h2 {
  margin:0 auto;
  padding-top:32px;
  color:white;
}

.image-input {

  margin-top:20px;
  margin-bottom:80px;
  text-align:center;
  border-radius:6px;
  padding:6px;
  font-size:20px;
}

.scene {

  width:100%;
  height:600px;
  perspective:1000;
  -webkit-perspective:1000;
  perspective-origin:50% 50%;
  transform-style:preserve-3d;
  position:relative;
  margin:0 auto;
  overflow:hidden;
}

.coverflow-3d {

  position:absolute;
  top:50%;
  left:50%;
  backface-visibility: visible;
  transform:rotateX(20deg) rotateY(30deg) rotateZ(10deg);
  transform-style:preserve-3d;
  transform-origin:50% 50%;
  cursor:pointer;
}

.coverflow-item {

  width:400px;
  height:400px;
  transform-origin:50% 50%;
  position:absolute;
  backface-visibility: visible;
  top:-200px;
  left:-200px;
  border:4px solid #eee;
  border-radius:12px;
  background-color:#111;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  transition:0.5s all ease-out;

  /*Improvement*/
  transition:1.25s all cubic-bezier(.17,.75,.58,.95);
  -webkit-box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.7);
}
